button {
    height: 50px;
    width: 50px;
    border-style: none;
}

.left-button {
    background-color: rgb(170, 0, 0);
    font-size: 150%;
    outline: none;
}

.right-button {
    background-color: rgb(0, 119, 0);
    font-size: 150%;
    outline: none;
}

.left-button:hover {
    background-color: rgb(207, 4, 4);
}
.right-button:hover {
    background-color: rgb(2, 168, 2);

}

.left-button:active {
    background-color: rgb(247, 0, 0);
}
.right-button:active {
    background-color: rgb(7, 212, 7);

}

.count-label {
    margin: 0 auto;
    font-size: 175%;
}

.counter-module {
    width: 150px;
    height: 55px;
    background-color: rgb(118, 198, 212);
    border-style: inset;
    border-color: rgb(132, 219, 235);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}