button {
    height: 50px;
    width: 50px;
    border-radius: 12px;
}

.left-button {
    background-color: red;
}

.right-button {
    background-color: green;
}

.count-label {
    margin: 0 auto;
    font-size: 175%;
}

.counter-module {
    width: 200px;
    height: 55px;
    border: solid;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}